@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --text-color: #212121;
  --accent-color: #2196f3;
  --add-color: #ffffff;
  --bg-color: #2f303a;
  --team-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --line-footer: #ececec;
  --card-border: #eeeeee;
  --icon-bg: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --back-card: rgba(33, 150, 243, 0.9);
  --back-work: rgba(47, 48, 58, 0.8);
  --modal-border: rgba(0, 0, 0, 0.1);
  --back-modal: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Загальна сторінка */
ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  display: flex;
}

.footer__container {
  display: flex;
  align-items: baseline;
  color: var(--add-color);
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.header {
  display: flex;
  width: 100%;
  background-color: var(--add-color);
  border-bottom: 1px solid var(--line-footer);
}

@media screen and (max-width: 767.98px) {
  .header {
    position: relative;
    height: 60px;
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    z-index: 10;
    position: fixed;
  }
}

.header-nav {
  display: flex;
  align-items: baseline;
}

.header-nav__list,
.contact-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .header-nav__list,
  .contact-nav {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link--сurrent {
  position: relative;
  color: var(--accent-color);
}

.header-nav__link--сurrent::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-nav {
    display: inline-block;
  }
}

.contact-nav__item {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-nav__item {
    margin-right: 0;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  .contact-nav__item:last-child {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact-nav__item:last-child {
  margin-right: 0;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-nav__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav__icon {
  margin-right: 10px;
  color: var --primary-text-color;
}

.contact-nav__icon {
  fill: currentColor;
}

.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

@media screen and (max-width: 767.98px) {
  .footer__style {
    width: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__style {
    text-align: center;
  }
}

.footer__link {
  color: var(--add-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 767.98px) {
  .footer__link {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
}

.footer__link-web {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767.98px) {
  .address__item {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }
}

.address__link {
  color: var(--add-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address__link--color {
  color: var(--footer-color);
}

.network {
  margin-left: 70px;
}

@media screen and (max-width: 767.98px) {
  .network {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .network {
    text-align: center;
    margin-left: 0;
  }
}

.network__text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .network__text {
    text-align: center;
  }
}

.network__list {
  display: flex;
  align-items: baseline;
}

.network__item {
  margin-right: 10px;
}

.network__link {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.network__link:hover,
.network__link:focus {
  background-color: var(--accent-color);
}

.network__logo:last-child {
  margin-right: 0;
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--add-color);
}

.network__icon {
  fill: currentColor;
}

.mailing {
  margin-left: 93px;
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mailing {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 678px) and (max-width: 1199.98px) {
  .mailing {
    margin-top: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .mailing {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mailing__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .mailing__title {
    text-align: center;
  }
}

.form {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 1199.98px) {
  .form {
    display: block;
  }
}

.form__mail {
  margin-right: 12px;
}

@media screen and (max-width: 1199.98px) {
  .form__mail {
    margin-right: 0;
  }
}

.form__input {
  outline: none;
  padding: 15px;
  width: 358px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 1199.98px) {
  .form__input {
    width: 100%;
  }
}

.form__button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  letter-spacing: 0.06em;
  color: var(--add-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 1199.98px) {
  .form__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.form__icon {
  fill: currentColor;
}

.section {
  color: var(--primary-text-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/hero.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 280px;
  }
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--add-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
  }
}

.hero__button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--add-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--back-modal);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
  z-index: 20;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-bezier);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--add-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
}

@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

.modal__button {
  position: absolute;
  top: 7px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-border);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--add-color);
  color: var(--title-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.modal__icon {
  fill: currentColor;
}

.modal__button:hover,
.modal__button:focus {
  color: var(--accent-color);
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;
}

@media screen and (max-width: 1199.98px) {
  .modal__text {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form {
  width: 448px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .modal-form {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-field__imput {
  padding-left: 42px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic-bezier);
}

.form-field__imput::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field__imput:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field__label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field__comment {
  padding: 12px 16px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms var(--cubic-bezier);
}

.form-field__comment:focus {
  outline: none;
  border-color: var(--accent-color);
  color: var(--text-color);
}

.form-field__icon {
  fill: var(--text-color);
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms var(--timing-function);
}

.form-field__imput:focus + .form-field__icon {
  fill: var(--accent-color);
}

.checkbox {
  max-width: 455px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 1199.98px) {
  .checkbox {
    font-size: 12px;
  }
}

.checkbox__label {
  margin-left: 7px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .checkbox__label {
    margin-left: 0;
  }
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  align-items: center;
}

.checkbox__imput:checked + .checkbox__label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkbox__imput:hover + .checkbox__label::before,
.checkbox__imput:focus + .checkbox__label::before {
  border: 1px solid var(--accent-color);
  border-radius: 3px;
}

.checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}

.form-field__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--add-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier);
}

.form-field__button:hover,
.form-field__button:focus {
  background: #188ce8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 91px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 2) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-right: 30px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.features__thumb {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-color);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features__thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__thumb {
    width: 270px;
  }
}

.features__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 114px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.work__item {
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-color);
  background-color: var(--back-work);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  width: 370px;
}

.team {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  box-shadow: var(--shadow);
  background-color: var(--add-color);
  margin-right: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 767.98px) {
  .team__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    margin-right: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 2) - 30px);
  }
}

.team__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__thumb {
    width: 354px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team__thumb {
    width: 450px;
  }
}

.team__box {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.team__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.socials__list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--add-color);
  border-radius: 50%;
  color: var(--icon-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--add-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}

.client {
  max-width: 1200px;
  padding-top: 99px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.client__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (max-width: 1199.98px) {
  .client__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.client__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .client__list {
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.client__item {
  display: flex;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  margin-right: 30px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

@media screen and (max-width: 767.98px) {
  .client__item {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0;
    flex-basis: calc((100% / 2) - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .client__item {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0;
    flex-basis: calc((100% / 3) - 30px);
  }
}

.client__item:last-child {
  margin-right: 0;
}

.client__item:hover,
.client__item:focus {
  border: 1px solid var(--accent-color);
}

.client__link {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

@media screen and (max-width: 1199.98px) {
  .client__link {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.client__icon:hover,
.client__icon:focus {
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199.98px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% / 3) - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__item {
    flex-basis: calc((100% / 2) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__article {
    width: 370px;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__article {
    width: 354px;
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .portfolio__article {
    width: 450px;
  }
}

.portfolio__link {
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: var(--shadow-card);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 0.9;
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--back-card);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  pointer-events: none;
}

.portfolio__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--add-color);
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__box--bottom {
    padding-bottom: 56px;
  }
}

.portfolio__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 4px;
  color: var(--primary-text-color);
}

.filters__list {
  justify-content: center;
  display: flex;
  margin: 0 0 50px 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filters__list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .filters__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.filters__item {
  margin-right: 8px;
}

.filters__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767.98px) {
  .filters__item--bottom {
    margin-bottom: 15px;
  }
}

.filters__button {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--team-color);
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent-color);
  color: var(--add-color);
  box-shadow: var(--shadow-button);
}

.header-nav__logo {
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 1199.98px) {
  .header-nav__logo {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 88px;
  }
}

.header-nav__logo-web {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 83px 48px 40px;
  background-color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: 250ms;
}

.mobile-menu.is-open {
  left: 0;
}

.mobile-menu__button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 15;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button:hover {
  color: #2196f3;
}

.mobile-menu__icon-menu {
  fill: currentColor;
}

.mobile-menu__icon-close {
  fill: currentColor;
}

.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__icon-close {
  display: none;
}

.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link {
  text-decoration: none;
  color: #212121;
}

.mobile-menu__link:hover {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link-tel {
  text-decoration: none;
  font-size: 34px;
  color: #757575;
}

.mobile-menu-contact__link-tel:hover {
  color: #2196f3;
}

.mobile-menu-contact__link-mail {
  text-decoration: none;
  font-size: 24px;
  color: #757575;
  padding: 0;
}

.mobile-menu-contact__link-mail:hover {
  color: #2196f3;
}

.mobile-menu-socials__list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.mobile-menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-socials__link {
  text-decoration: none;
  color: #2196f3;
}

.menu-is-open {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */