.mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 48px 83px 48px 40px;

  background-color: #fff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  transition: 250ms;

  &.is-open {
    left: 0;
  }
}

.mobile-menu__button {
  background-color: transparent;
  border: none;

  position: absolute;
  right: 15px;
  top: 10px;

  z-index: 15;

  width: 40px;
  height: 40px;
  margin-left: auto;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    color: #2196f3;
  }
}

.mobile-menu__icon-menu {
  fill: currentColor;
}

.mobile-menu__icon-close {
  fill: currentColor;
}

.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__icon-close {
  display: none;
  .is-open & {
    display: block;
  }
}

.mobile-menu__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-menu__link {
  text-decoration: none;
  color: #212121;

  &:hover {
    color: #2196f3;
  }
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link-tel {
  text-decoration: none;
  font-size: 34px;
  color: #757575;

  &:hover {
    color: #2196f3;
  }
}

.mobile-menu-contact__link-mail {
  text-decoration: none;
  font-size: 24px;
  color: #757575;
  padding: 0;

  &:hover {
    color: #2196f3;
  }
}

.mobile-menu-socials__list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.mobile-menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-socials__link {
  text-decoration: none;
  color: #2196f3;
}

.menu-is-open {
  overflow: hidden;
}