.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--back-modal);

  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);

  z-index: 20;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-bezier);

  padding: 40px;
  width: 528px;
  min-height: 581px;

  background-color: var(--add-color);
  box-shadow: var(--shadow);
  border-radius: 4px;

  @media screen and (max-width: 1199.98px) {
    max-width: 450px;
    max-height: 609px;
  }
}

.modal__button {
  position: absolute;
  top: 7px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-border);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--add-color);
  color: var(--title-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.modal__icon {
  fill: currentColor;
}

.modal__button:hover,
.modal__button:focus {
  color: var(--accent-color);
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;

  @media screen and (max-width: 1199.98px) {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form {
  width: 448px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199.98px) {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-field__imput {
  padding-left: 42px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic-bezier);
}

.form-field__imput::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.form-field__imput:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field__label {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field__comment {
  padding: 12px 16px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms var(--cubic-bezier);
}

.form-field__comment:focus {
  outline: none;
  border-color: var(--accent-color);
  color: var(--text-color);
}

.form-field__icon {
  fill: var(--text-color);
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms var(--timing-function);
}

.form-field__imput:focus + .form-field__icon {
  fill: var(--accent-color);
}

.checkbox {
  max-width: 455px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;

  @media screen and (max-width: 1199.98px) {
    font-size: 12px;
  }
}

.checkbox__label {
  margin-left: 7px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199.98px) {
    margin-left: 0;
  }
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  align-items: center;
}

.checkbox__imput:checked + .checkbox__label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkbox__imput:hover + .checkbox__label::before,
.checkbox__imput:focus + .checkbox__label::before {
  border: 1px solid var(--accent-color);
  border-radius: 3px;
}

.checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}

.form-field__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--add-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier);
}

.form-field__button:hover,
.form-field__button:focus {
  background: #188ce8;
}
