.header {
  display: flex;
  width: 100%;  

  background-color: var(--add-color);
  border-bottom: 1px solid var(--line-footer);

  @media screen and (max-width: 767.98px) {
    position: relative;
    height: 60px;
    top: 0;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    z-index: 10;
    position: fixed;    
  }
}

.header-nav {
  display: flex;
  align-items: baseline;

  // @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  //   margin-right: 84px;
  // }
}

.header-nav__list,
.contact-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin: 0;
  padding: 0;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.header-nav__item {
  margin-right: 50px;
}
.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}
.header-nav__link--сurrent {
  position: relative;

  color: var(--accent-color);
}
.header-nav__link--сurrent::after {
  position: absolute;
  bottom: 0;

  content: "";

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;

  margin-left: auto;

  list-style: none;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {    
    display: inline-block;
  }
}

.contact-nav__item {
  margin-right: 50px;

   @media screen and (min-width: 768px) and (max-width: 1199.98px) {    
    margin-right: 0;
    padding-top: 21px;
    padding-bottom: 10px;

    &:last-child {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.contact-nav__item:last-child {
  margin-right: 0;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

   @media screen and (min-width: 768px) and (max-width: 1199.98px) {    
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav__icon {
  margin-right: 10px;
  color: var (--primary-text-color);
}
.contact-nav__icon {
  fill: currentColor;
}
