.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__item {
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% / 3) - 30px);
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% / 2) - 30px);
  }
}

.portfolio__article {
  @media screen and (min-width: 1200px) {
    width: 370px;
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 354px;
    display: flex;
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    width: 450px;
  }
}

.portfolio__link {
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: var(--shadow-card);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 0.9;
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;

  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  width: 100%;
  height: 100%;

  background-color: var(--back-card);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  pointer-events: none;
}

.portfolio__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--add-color);
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
}

.portfolio__box--bottom {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-bottom: 56px;
  }
}

.portfolio__title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 4px;

  color: var(--primary-text-color);
}
