.team {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  
  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  box-shadow: var(--shadow);
  background-color: var(--add-color);
  margin-right: 30px;
  border-radius: 4px;

  @media screen and (max-width: 767.98px) {
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }  

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 2) - 30px);
  }

}

.team__item:last-child {
  margin-right: 0;
}

.team__thumb {
  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 354px;
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    width: 450px;
  }
}

.team__box {
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
  padding-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.team__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
