.work {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 114px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.work__title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.work__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.work__item {
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-color);
  background-color: var(--back-work);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  width: 370px;
}
